spring:
  application:
    name: "@project.name@"
    version: "@project.version@"
  config:
    import: 'optional:configserver:'
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/users_db
    username: user
    password: pass
  jpa:
    database: POSTGRESQL
    show-sql: true
    properties:
      '[hibernate.format_sql]': true
  cloud:
    function.definition: returnUserDetails;createPaymentTransfer
    stream.bindings:
      syncShopName-out-0:
        destination: ${Q_PRD_SYNC_SN:product-sync-shop-name}
      createIfNotExist-out-0:
        destination: ${Q_CRT_CREATE_INE:cart-create-if-not-exist}
      returnUserDetails-in-0:
        destination: ${Q_ACT_REQUEST_UD:account-request-user-details}
      returnUserDetails-out-0:
        destination: ${Q_ORD_RETURN_UD:order-return-user-details}
      syncShopStatus-out-0:
        destination: ${Q_PRD_SYNC_SS:product-sync-shop-status}
      createPaymentTransfer-in-0:
        destination: ${Q_ACT_REQUEST_PT:account-request-payment-transfer}
#  docker.compose:
#    lifecycle-management: none
#  cloud.refresh:
#    extra-refreshable: com.zaxxer.hikari.HikariDataSource

server.port: 8083

eureka:
  instance:
    prefer-ip-address: true
  client.service-url:
    defaultZone: ${EUREKA_SERVER:http://localhost:8082/eureka/}

logging.level:
  '[org.hibernate.orm.jdbc.bind]': trace

management:
  endpoints.web:
    exposure.include: '*'
  endpoint.health:
    show-details: always
  metrics.distribution.percentiles-histogram:
    '[http.server.requests]': true
  observations.key-values:
    application: ${spring.application.name}
  tracing:
    sampling.probability: 1.0
  otlp.tracing:
    endpoint: http://localhost:4317
    transport: grpc

springdoc:
  swagger-ui:
    path: /docs/users
  api-docs:
    path: /docs/users/api

application.description: "@project.description@"
gateway.url: ${URL_API_GATEWAY:http://localhost:8080}
api.version: ${API_VERSION1:/api/v1}
users.path: /users
auth.path: /auth/
products.path: ${PATH_PRD_MS:/products}
carts.path: ${PATH_CRT_MS:/carts}
shop.path: ${PATH_SHOP:/shop}
orders.path: ${PATH_ORD_MS:/orders}
payments.path: ${PATH_PYMT_MS:/payments}
onboarding.path: ${PATH_PYMT_MS:/onboarding}
stripe.key: ${STRIPE_KEY:sk_test_123}
return.url: https://txto.eu.org/u1K8rh