global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'ecomm-api-gateway'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['ecomm-api-gateway:18080']
        labels:
          application: 'API Gateway'
          
  - job_name: 'ecomm-account-management'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['ecomm-account-management:8083']
        labels:
          application: 'Account Management Microservice'
          
  - job_name: 'ecomm-product-catalog'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['ecomm-product-catalog:8084']
        labels:
          application: 'Product Catalog Microservice'
          
  - job_name: 'ecomm-shopping-cart'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['ecomm-shopping-cart:8085']
        labels:
          application: 'Shopping Cart Microservice'
          
  - job_name: 'ecomm-order-management'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['ecomm-order-management:8086']
        labels:
          application: 'Order Management Microservice'
          
  - job_name: 'ecomm-payment-processing'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['ecomm-payment-processing:8087']
        labels:
          application: 'Payment Processing Microservice'