paths:
  permitted:
    - /fallback/**
    - /v3/api-docs/**
    - /swagger-ui.html
    - /swagger-ui/**
    - /webjars/**
    - /actuator/**
    - /docs/**
    - /api/*/auth/**
    - /api/*/webhooks/**
  getOnly:
    - /api/*/products**
  buyerOnly:
    - /api/*/carts**
    - /api/*/orders**
    - /api/*/payments**
  sellerOnly:
    - /api/*/products**
    - /api/*/shop/**
  adminOnly:
    - /api/*/users
    - /api/*/admin/**
  userBased:
    - /api/*/users/**

spring:
  application:
    name: ecomm-api-gateway
  reactor:
    context-propagation: auto
  config:
    import: 'optional:configserver:'
  data.redis:
    host: localhost
    port: 6379
  cloud.gateway.server.webflux:
    globalcors.cors-configurations:
      '[/**]':
        allowed-origins: '*'
        allowedHeaders: '*'
        allowedMethods: '*'
    default-filters:
      - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin, RETAIN_UNIQUE
      - name: CircuitBreaker
        args:
          fallbackUri: forward:/fallback
      - name: Retry
        args:
          retries: 3
          statuses: REQUEST_TIMEOUT, SERVICE_UNAVAILABLE
          methods: GET, POST, PUT, DELETE
          backoff:
            firstBackoff: 5s
            maxBackoff: 10s
            factor: 2
            basedOnPreviousValue: false
      - name: RequestRateLimiter
        args:
          redis-rate-limiter:
            replenishRate: 10
            burstCapacity: 20
            requestedTokens: 1
          key-resolver: '#{@ipKeyResolver}'
    routes:
      - id: Account Management Service
        uri: lb://ECOMM-ACCOUNT-MANAGEMENT
        predicates:
          - Path=/api/*/auth/**, /api/*/users/**, /docs/users/**
      - id: Product Catalog Service
        uri: lb://ECOMM-PRODUCT-CATALOG
        predicates:
          - Path=/api/*/products/**, /docs/products/**
      - id: Shopping Cart Service
        uri: lb://ECOMM-SHOPPING-CART
        predicates:
          - Path=/api/*/admin/carts/**, /api/*/carts/**, /docs/carts/**
      - id: Order Management Service
        uri: lb://ECOMM-ORDER-MANAGEMENT
        predicates:
          - Path=/api/*/admin/orders/**, /api/*/shop/orders/**, /api/*/orders/**, /docs/orders/**
      - id: Payment Processing Service
        uri: lb://ECOMM-PAYMENT-PROCESSING
        predicates:
          - Path=/api/*/admin/payments/**, /api/*/payments/**, /docs/payments/**

springdoc.swagger-ui:
  path: /docs
  urls:
    - name: Authentication API
      url: /docs/users/api/auth
    - name: Account Management API
      url: /docs/users/api/acctmgt
    - name: Product Catalog API
      url: /docs/products/api
    - name: Shopping Cart API
      url: /docs/carts/api/shpcrt
    - name: Order Management API
      url: /docs/orders/api/checkout
    - name: Order Fulfillment API
      url: /docs/orders/api/fulfill
    - name: Payment Processing API
      url: /docs/payments/api/pay

server.port: 8080

eureka:
  instance:
    prefer-ip-address: true
  client.service-url:
    defaultZone: ${EUREKA_SERVER:http://localhost:8082/eureka/}

logging.level:
  '[org.springframework.cloud.gateway]': trace
  '[org.springframework.cloud.gateway.route]': info
  '[org.springframework.cloud.gateway.filter]': info

management:
  server.port: 18080
  endpoints.web:
    exposure.include: '*'
  endpoint.health:
    show-details: always
  health:
    circuitbreakers.enabled: true
  metrics.distribution.percentiles-histogram:
    '[http.server.requests]': true
  observations.key-values:
    application: ${spring.application.name}
  tracing:
    sampling.probability: 1.0
  otlp.tracing:
    endpoint: http://localhost:4317
    transport: grpc

resilience4j:
  circuitbreaker.configs:
    default:
      register-health-indicator: true
      sliding-window-size: 10
      minimum-number-of-calls: 5
      permitted-number-of-calls-in-half-open-state: 3
      wait-duration-in-open-state: 5s
      automatic-transition-from-open-to-half-open-enabled: true
  timelimiter.configs:
    default:
      timeout-duration: 30s
      cancel-running-future: true