spring:
  application:
    name: "@project.name@"
    version: "@project.version@"
  config:
    import: 'optional:configserver:'
  data.redis:
    host: localhost
    port: 6379
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  datasource:
    url: jdbc:postgresql://host.docker.internal:5433/products_db
    username: user
    password: pass
  jpa:
    database: POSTGRESQL
    show-sql: true
    properties:
      '[hibernate.format_sql]': true
  cloud:
    function.definition: syncShopName;processAndReturnDetail;returnProductStock;syncShopStatus
    stream.bindings:
      syncShopName-in-0:
        destination: ${Q_PRD_SYNC_SN:product-sync-shop-name}
      processAndReturnDetail-in-0:
        destination: ${Q_PRD_UPDATE_SO:product-update-stock-ordered}
      processAndReturnDetail-out-0:
        destination: ${Q_ORD_RETURN_PD:order-return-product-details}
      returnProductStock-in-0:
        destination: ${Q_PRD_RETURN_SO:product-return-stock-ordered}
      syncShopStatus-in-0:
        destination: ${Q_PRD_SYNC_SS:product-sync-shop-status}
#  docker.compose:
#    lifecycle-management: none
#  cloud.refresh:
#    extra-refreshable: com.zaxxer.hikari.HikariDataSource

server.port: 8084

eureka:
  instance:
    prefer-ip-address: true
  client.service-url:
    defaultZone: ${EUREKA_SERVER:http://localhost:8082/eureka/}

logging.level:
  '[org.hibernate.orm.jdbc.bind]': trace

management:
  endpoints.web:
    exposure.include: '*'
  endpoint.health:
    show-details: always
  metrics.distribution.percentiles-histogram:
    '[http.server.requests]': true
  observations.key-values:
    application: ${spring.application.name}
  tracing:
    sampling.probability: 1.0
  otlp.tracing:
    endpoint: http://localhost:4317
    transport: grpc

springdoc:
  swagger-ui:
    path: /docs/products
  api-docs:
    path: /docs/products/api

application.description: "@project.description@"
gateway.url: ${API_GATEWAY:http://localhost:8080}
api.version: /api/v1
products.path: /products