spring:
  application:
    name: "@project.name@"
    version: "@project.version@"
  config:
    import: 'optional:configserver:'
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  datasource:
    url: jdbc:postgresql://host.docker.internal:5435/orders_db
    username: user
    password: pass
  jpa:
    database: POSTGRESQL
    show-sql: true
    properties:
      '[hibernate.format_sql]': true
  cloud:
    function.definition: updateInformationAndSendStockUpdate;populateDetailAndRequestCheckout;updateStatusAndRequestTransfer
    stream:
      bindings:
        requestAccountInformation-out-0:
          destination: ${Q_ACT_REQUEST_UD:account-request-user-details}
        updateInformationAndSendStockUpdate-in-0:
          destination: ${Q_ORD_RETURN_UD:order-return-user-details}
        updateInformationAndSendStockUpdate-out-0:
          destination: ${Q_PRD_UPDATE_SO:product-update-stock-ordered}
        updateCartItems-out-0:
          destination: ${Q_CRT_UPDATE_IQ:cart-update-item-quantity}
        populateDetailAndRequestCheckout-in-0:
          destination: ${Q_ORD_RETURN_PD:order-return-product-details}
        populateDetailAndRequestCheckout-out-0:
          destination: ${Q_PYMT_REQUEST_CS:payment-request-checkout-session}
        returnProductStock-out-0:
          destination: ${Q_PRD_RETURN_SO:product-return-stock-ordered}
        updateStatusAndRequestTransfer-in-0:
          destination: ${Q_ORD_UPDATE_OS:order-update-order-status}
        updateStatusAndRequestTransfer-out-0:
          destination: ${Q_ACT_REQUEST_PT:account-request-payment-transfer}
        sendEventUpdate-out-0:
          destination: ${Q_NOTIF_SEND_EU:notification-send-event-update}
#  docker.compose:
#    lifecycle-management: none
#  cloud.refresh:
#    extra-refreshable: com.zaxxer.hikari.HikariDataSource

server.port: 8086

eureka:
  instance:
    prefer-ip-address: true
  client.service-url:
    defaultZone: ${EUREKA_SERVER:http://localhost:8082/eureka/}

logging.level:
  '[org.hibernate.orm.jdbc.bind]': trace

management:
  endpoints.web:
    exposure.include: '*'
  endpoint.health:
    show-details: always
  metrics.distribution.percentiles-histogram:
    '[http.server.requests]': true
  observations.key-values:
    application: ${spring.application.name}
  tracing:
    sampling.probability: 1.0
  otlp.tracing:
    endpoint: http://localhost:4317
    transport: grpc

springdoc:
  swagger-ui:
    path: /docs/orders
  api-docs:
    path: /docs/orders/api

application.description: "@project.description@"
gateway.url: ${URL_API_GATEWAY:http://localhost:8080}
api.version: ${API_VERSION1:/api/v1}
admin.path: ${PATH_ADMIN:/admin}
shop.path: ${PATH_SHOP:/shop}
orders.path: ${PATH_ORD_MS:/orders}
carts.path: ${PATH_CRT_MS:/carts}
products.path: ${PATH_PRD_MS:/products}